.body {
	background-color: #308aac;
	background-image: url(../images/bgmain.jpg);
	background-repeat: repeat-x;

	scrollbar-face-color: #DEE3E7;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #DEE3E7;
	scrollbar-3dlight-color: #D1D7DC;
	scrollbar-arrow-color:  #339933;
	scrollbar-track-color: #EFEFEF;
	scrollbar-darkshadow-color: #98AAB1;
}

.backx{
	background-repeat: repeat-x;
}

.backy{
	background-repeat: repeat-y;
}


INPUT {

	FONT-FAMILY: Tahoma, "Microsoft Sans Serif"; FONT-SIZE: 10pt 

}

SMALL {

	FONT-FAMILY: Tahoma, "Microsoft Sans Serif"; FONT-SIZE: 10pt ;color: #333333;

}




/*
B {

	FONT-FAMILY: Tahoma, "Microsoft Sans Serif"; FONT-SIZE: 10pt

}

STORNG {

	FONT-FAMILY: Tahoma, "Microsoft Sans Serif"; FONT-SIZE: 10pt

}
FONT {

	FONT-FAMILY: MS Sans Serif; FONT-SIZE: 10pt

}
 */
table { 
	FONT-FAMILY: Tahoma, "Microsoft Sans Serif"; FONT-SIZE: 10pt ; color: #333333;
}
td { 
	FONT-FAMILY: Tahoma, "Microsoft Sans Serif"; FONT-SIZE: 10pt ; color: #333333;
}
.Bfont {
	FONT-FAMILY: Tahoma, "Microsoft Sans Serif"; FONT-SIZE: 12pt ; color: #333333;
	
	}
	.sfont {
	FONT-FAMILY: Tahoma, "Microsoft Sans Serif"; FONT-SIZE: 9pt ;color: #333333;
	
	}
A {

	COLOR: #000033; FONT-FAMILY: Tahoma, "Microsoft Sans Serif"; FONT-SIZE: 10pt; TEXT-DECORATION:  none

}

A:visited {

	COLOR: #000033; font-family:Tahoma, "Microsoft Sans Serif"; FONT-SIZE: 10pt; TEXT-DECORATION:  none; 

}

A:hover {

	COLOR:#FF0000; FONT-FAMILY: Tahoma, "Microsoft Sans Serif"; FONT-SIZE: 10pt; text-decoration: none ; 

}

.small { FONT-FAMILY: Tahoma, "Microsoft Sans Serif"; FONT-SIZE: 9pt }

.fade {filter:alpha(opacity=70);-moz-opacity:0.2; cursor:hand;}
.border {border-right : dotted thin #9ABBE0;}

.input {  font-family: Tahoma, "Microsoft Sans Serif"; font-size: 14px; color: #FFFFFF; clear: none; float: none; height: auto; width: auto; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 1px; padding-right: 1px; padding-bottom: 1px; padding-left: 1px; border: 1px #0000FF solid; background-color: #000000; background-position: left center; letter-spacing: normal; text-align: left; vertical-align: middle; word-spacing: normal; white-space: pre}


TD.menu {COLOR: #000033; FONT-FAMILY: Tahoma, "Microsoft Sans Serif"; FONT-SIZE: 10pt; TEXT-DECORATION:  none }
TD.menu A { FONT-SIZE:  10pt;  COLOR: #000033; LINE-HEIGHT: 16px; text-decoration: none} 
TD.menu A:hover {COLOR:#FF0000; FONT-FAMILY: Tahoma, "Microsoft Sans Serif"; FONT-SIZE: 10pt; text-decoration: none ; } 
TD.menu A:visited {  FONT-FAMILY: Tahoma, "Microsoft Sans Serif"; FONT-SIZE: 10pt; TEXT-DECORATION:  none;} 


.borderstyle {
	border: 1px dotted #d7eadf;
}

.TextBox {
	border: #000000 1px inset;
	border-color: #000000 #666666 #666666 #000000;
	background-color: #FFFFFF;
	background-attachment: fixed;
	background-image: url(../images/bgstyle.gif);
	font-family: Tahoma, "Microsoft Sans Serif";
	font-size: 12px;
	color: #000000;
}

.boxform {
	border: #cccccc 1px dotted;
	border-color: #cccccc #cccccc #cccccc #cccccc;
	background-color: #FEFDF7;
	font-family: Tahoma, "Microsoft Sans Serif";
	font-size: 12px;
	color: #000000;
}
.submit {
		font-family: Tahoma, "Microsoft Sans Serif"; font-size: 12px;font-weight:bold; color:#ffffff; border: 1px solid rgb(0,0,0);background: #0033FF 
}
.cancle {
		font-family:Tahoma, "Microsoft Sans Serif"; color:#ffffff; font-size: 12px;font-weight:bold; border: 1px solid rgb(0,0,0);background: #FF0000 
}
.select {
		font-family:Tahoma, "Microsoft Sans Serif"; font-size: 12px;font-weight:bold; color:#000000; border: 1px solid rgb(0,0,0);background: #FEF5E9
}

.border_top {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-right-style: double;
	border-left-style: double;
	border-top-color: #ffffff;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #ffffff;
	border-bottom-style: double;

}

.border_middle {
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-right-style: double;
	border-left-style: double;
	border-top-color: #ffffff;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #ffffff;
	border-bottom-style: double;

}

.border_bottom {
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: double;
	border-left-style: double;
	border-top-color: #ffffff;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #ffffff;
	border-bottom-style: double;

}

.headmenu {
	border-color:   #C5C7CF #C5C7CF #C5C7CF #C5C7CF ; 
	border-style: solid; 
	border-top-width: 0px; 
	border-right-width: 0px; 
	border-bottom-width: 0px; 
	border-left-width: 0px;
	filter:progid:dximagetransform.microsoft.gradient(gradienttype=0,startcolorstr=#E1E2E6,,endcolorstr=#F8F8F8);
}

.bordertable {border-color:  #BEBEBE #000000  #000000 #BEBEBE; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.underborder {border-color:  #000000 #D8D8D8  #D8D8D8 #000000; border-style: solid; border-top-width: 0px; border-right-width: 1px; 
border-bottom-width: 1px; border-left-width: 1px;
	filter:progid:dximagetransform.microsoft.gradient(gradienttype=0,startcolorstr=#FCFBFF,,endcolorstr=#D7D7D7);

}

.borderdot{
		border: 1px dotted #000000;
}

.backbordertable {border-color:   #000066 #E6E6E6 #E6E6E6 #000066 ; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}

.gradian_up {
	filter:progid:dximagetransform.microsoft.gradient(gradienttype=0,startcolorstr=#FCFBFF,,endcolorstr=#D7D7D7);

}

.gradian_article {
	filter:progid:dximagetransform.microsoft.gradient(gradienttype=0,startcolorstr=#A9FCFC,,endcolorstr=#68A0FD);

}

.gradian_down {
	filter:progid:dximagetransform.microsoft.gradient(gradienttype=0,startcolorstr=#D7D7D7,,endcolorstr=#FCFBFF);

}

.gradian_menu_blue {
	filter:progid:dximagetransform.microsoft.gradient(gradienttype=0,startcolorstr=#004080,,endcolorstr=#47A8E2);

}
.gradian_menu {
	PADDING-top: 2px;
	PADDING-bottom: 2px;
	PADDING-LEFT: 5px;
/*	filter:progid:dximagetransform.microsoft.gradient(gradienttype=1,startcolorstr=#FFFFFF,,endcolorstr=#CFD0D4);	*/
}

.gradian_menu_over {
	PADDING-top: 2px;
	PADDING-bottom: 2px;
	PADDING-LEFT: 5px;
	background-color: #FFFFFF;
}

.gradian_footer {
	filter:progid:dximagetransform.microsoft.gradient(gradienttype=0,startcolorstr=#0B6ECF,,endcolorstr=#37B2DC);

}

.line1       { font-family: Tahoma, "Microsoft Sans Serif"; font-size: 10pt; border-bottom: 2 solid #FF0000 }
.line2       { font-family: Tahoma, "Microsoft Sans Serif"; font-size: 10pt;  border-bottom: 5 double #FF0000 }

.borderstyle {
	border: 1px dotted #cccccc;
}
/* font style */
.style1 {color: #333333}


.bgmenucolor {
	border: 1px dotted #000000;
	BACKGROUND-COLOR:#99CCFF;
	cursor:hand;

}
.bgmenucolor_over {
	border: 1px dotted #000000;
	BACKGROUND-COLOR:#E1F0FF;
	cursor:hand;

}.dot {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-color: A1A1A1;
	border-bottom-style: dotted;
	border-left-color: none;
}
.divpadding {
	PADDING-LEFT: 10px;
	PADDING-RIGHT: 5px;
}

.fade {filter:alpha(opacity=90);-moz-opacity:0.2; 
			cursor:hand;}